* {
  box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #001028;
    background: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  /* width: 50%; Kalau pingin 2 kolom */
  width: 100%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table, th, td {
  border-spacing: 0;
  width: 100%;
  text-align: center;
  padding: 4px;
}

table#content td, table#content th {
  border: 1px solid black;
  border-collapse: collapse;
}

.row thead tr {
  background-color: #f2f2f2;
}

.row tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
    color: #5d6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #c1ced9;
    padding: 8px 0;
    text-align: center;
}

