/* styling table master-alasan pb darurat */
.table-container {
  max-height: 200px;
  overflow-y: scroll;
  border: ;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Add a background color for the sticky header */
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dee2e6; /* Add a border color for the cells */
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }

  /* selected data when clicked */
  .selected-row {
    background-color: #007bff;
    color: #ffffff;
  }